// Colors and font used

$primary-color: rgb(175, 145, 100);
$secondary-color: rgb(111, 26, 7);
$bg-color: rgb(247, 243, 227);
$bg-secondary: rgb(179, 182, 183);


.font-style {
    font-family: 'Times New Roman', Times, serif;
}
